<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contrato Powerview</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

  body {
    font-family: 'IBM Plex Sans', sans-serif;
  }

  .side-panel {
    width: 35%;
    display: inline-block;
    background-color: rgba(73, 74, 73, 0.1);
    height: 1105px;
    position: relative;
  }

  .side-panel-title {
    padding: 30px;
    position: absolute;
    top: 30px;
    left: 80%;
    border: 1px solid black;
    background-color: white;
  }

  .side-panel-personal {
    padding: 180px 40px 50px 40px;
  }

  .side-panel-personal-block span {
    text-transform: uppercase;
    color: black;
    display: block;
    font-weight: 500;
    font-size: 14px;
  }

  .side-panel-personal-block a {
    color: black;
    font-size: 13px;
  }

  .side-panel-personal-block p {
    font-size: 13px;
  }

  .side-panel-personal-block-knowledge {
    margin-top: 15px;
  }

  .side-panel-personal-block-knowledge span {
    font-size: 13px;
    display: block;
    font-weight: 300;
    text-transform: none;
  }

  .side-panel-personal-block-knowledge i {
    width: 5px;
    height: 5px;
    border-radius: 100px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 5px;
  }

  .side-panel-personal-block-knowledge i.filled {
    background-color: black;
  }

  .curriculum-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
  }

  .curriculum-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: black;
  }

  .side-panel-title h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  .side-panel-title span {
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
  }

  .right-panel {
    width: 60%;
    padding-top: 177px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 9px;
    display: inline-block;
    height: 927px;
  }

  .right-panel-section {
    position: relative;
    padding-bottom: 10px;
    padding-right: 40px;
  }

  .right-panel p {
    font-size: 13px;
  }

  .academic-title {
    max-width: 300px;
    font-size: 14px;
  }

  .academic-location {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 13px;
  }

  .academic-duration {
    font-size: 13px;
  }

</style>

<body>
  <div class="side-panel">
    <div class="side-panel-personal">
      <h3 class="curriculum-title">DADOS PESSOAIS</h3>

      <div class="side-panel-personal-block">
        <span>Endereco</span>

        <p>
          Rua Oleoduto, 439,
          <br>
          04411170, São Paulo
          <br>
          Brasil
        </p>
      </div>
      <div class="side-panel-personal-block">
        <span>Telefone</span>

        <p>
          (11) 98538-6118
        </p>
      </div>
      <div class="side-panel-personal-block">
        <span>E-mail</span>

        <p>
          carmojulia.045@gmail.com
        </p>
      </div>
      <div class="side-panel-personal-block">
        <span>Data de nascimento</span>

        <p>
          21/05/2001 - 19 anos
        </p>
      </div>
      <div class="side-panel-personal-block">
        <span>Nacionalidade</span>

        <p>
          brasileira
        </p>
      </div>
      <div class="side-panel-personal-block">
        <h3 class="curriculum-title">Redes Sociais</h3>

        <a href="https://www.linkedin.com/in/julia-carmo-b8b180200">
          LinkedIn
        </a>
      </div>
      <div class="side-panel-personal-block">
        <h3 class="curriculum-title">Competências</h3>

        <div class="side-panel-personal-block-knowledge">
          <span>AutoCAD</span>

          <i class="filled"></i><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i>
        </div>
        <div class="side-panel-personal-block-knowledge">
          <span>Tecnologia da informação(TI)</span>

          <i class="filled"></i><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i>
        </div>
        <div class="side-panel-personal-block-knowledge">
          <span>HTML - tabelas e formulários</span>

          <i class="filled"></i><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i>
        </div>
        <div class="side-panel-personal-block-knowledge">
          <span>Programação c++</span>

          <i class="filled"></i><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i>
        </div>
        <div class="side-panel-personal-block-knowledge">
          <span>Inglês</span>

          <i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i><i></i>
        </div>
      </div>
    </div>


    <div class="side-panel-title">
      <h2>Julia Carmo</h2>
      <span>Estágio Técnico em Mecatrônica</span>
    </div>
  </div>

  <div class="right-panel">
    <div class="right-panel-section">
      <h3 class="right-panel-section-title curriculum-title">Qualificações</h3>
      <p>
        Estudante do 1º semestre em eletroeletrônica e em mecatrônica.<br><br>
        Inglês: intermediário <br><br>
        Conhecimentos de informática intermediário (word, excel, powerpoint, html - tabelas e formulários).
      </p>
    </div>
    <h3 class="curriculum-title">Formação Acadêmica</h3>
    <div class="right-panel-section">
      <h3 class="right-panel-section-title academic-title">Curso Técnico em Eletroeletrônica, Senai Manuel Garcia Filho</h3>
      <span class="academic-location">Diadema</span>
      <span class="academic-duration">fev 2021 - Presente</span>
      <p>
        O curso técnico em eletroeletrônica, tem por objetivo habilitar profissionais para desenvolver, instalar e manter sistemas eletroeletrônicos de acordo com procedimentos e normas técnicas, ambientais de qualidade, de saúde e segurança no trabalho.
      </p>
    </div>
    <div class="right-panel-section">
      <h3 class="right-panel-section-title academic-title">Curso técnico em Mecatrônica, Etec Lauro Gomes</h3>
      <span class="academic-location">São Bernardo do Campo</span>
      <span class="academic-duration">fev 2021 - Presente</span>
      <p>
        O técnico de mecatrônica atua no projeto, na execução e na instalação de máquinas e equipamentos automatizados e sistemas robotizados. Realiza manutenção, medições e testes dessas máquinas, equipamentos e sistemas. Opera equipamentos, utiliza softwares específicos e linguagens de programação adequadas.
      </p>
    </div>
    <div class="right-panel-section">
      <h3 class="right-panel-section-title academic-title">Ensino Médio, E.E Senados Filinto Muller</h3>
      <span class="academic-location">Diadema</span>
      <span class="academic-duration">fev 2016 - dez 2018</span>
    </div>
    <h3 class="curriculum-title">Cursos</h3>
    <div class="right-panel-section">
      <h3 class="right-panel-section-title academic-title">Tecnologia de informação e comunicação, SENAI (carga horária 60 horas)</h3>
      <span class="academic-duration">ago 2020 - set 2020</span>
    </div>
    <div class="right-panel-section">
      <h3 class="right-panel-section-title academic-title">Inglês Intermediário, 4you2 Idiomas</h3>
      <span class="academic-duration">jan 2019 - mar 2020</span>
    </div>
  </div>
</body>

</html>